snippet defmo "defmodule name do" b
	defmodule ${1:module_name} do
		${2}
	end

snippet def "def function do" b
	def ${1:name} do
		${2}
	end

snippet defp "def function do" b
	def ${1:name} do
		${2}
	end
